Repository nginx-proxy/acme-companion, pull requests merged in 2023-12, with the labels that each got.

#1068 test: bump boulder to release-2023-12-04
  test/setup/setup-boulder.sh
Labels: type/test

#1064 fix: prevent infinite loop in enumerate_wildcard_locations
  app/functions.sh
Labels: type/fix

#967 add 5s:30s to -wait
  docs/Docker-Compose.md
Labels: type/docs

#1072 test: update wildcard location enumeration test
  test/tests/location_config/expected-std-out.txt
  test/tests/location_config/run.sh
Labels: type/test

#1074 fix: dot not remove symlinked default certificate / private key
  app/letsencrypt_service
  test/tests/symlinks/run.sh
Labels: type/fix

#1081 fix: don't display LE certificate as erroneously expired
  app/cert_status
Labels: type/fix

#1083 Typo in Getting-containers-IDs.md
  docs/Getting-containers-IDs.md
Labels: type/docs
